.review-top-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .review-summary {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding: 25px 0 25px 0;
        border-bottom: 1px solid #EBEBEB;

        .review-count-container {
            display: flex;
            padding: 0 20px 0 0;
            font-size: 24px !important;
            line-height: 30px !important;
            font-weight: 800;
            color: #484848 !important
        }

        .avg-stars {
            color: #008489 !important;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                padding: 0 5px 0 0;
                font-size: 14px;
            }
        }
    }

    .review-list{
        padding: 20px 0 0 0;
        width: 100%;

        .single-review-container {
            display: flex;
            flex-wrap: wrap;
            padding: 15px 0 15px 0;
            width: 100%;
            border-bottom: 1px solid #EBEBEB;


            .author-container {
                width: 10%;
                font-size: 20px;
                font-weight: 300;
            }

            .star-rating {
                width: 90%;
                 color: #008489 !important;
                 display: flex;
                 justify-content: flex-start;
                 align-items: center;
                 i {
                     padding: 0 5px 0 0;
                     font-size: 12px;
                 }
            }

            .review-body {
                padding: 5px 0 0 0;
                line-height: 24px;
                color: #727272 !important;
            }
        }
    }

    div {
        // border: 1px solid green;
    }
}