section {
    display: block;
    box-sizing: border-box;
}

.review-form-container {
    display: flex;
    justify-content: center;
    width: 568px;
    height: 600px;
    outline: 1px solid black;
    background: white;
}

.review-form-container {
    background-color: rgb(255, 255, 255) !important;
    box-sizing: border-box !important;
    padding: 32px !important;
    display: block;
}

.review-form-box {
    padding: 20px;
    display: block;
    margin-top: 0em;
}

.review-form {
    margin-bottom: 16px;
}

.input-container {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box;
    // margin-bottom: 16px;
}

.input-container-2 {
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    background-color: rgb(255, 255, 255) !important;
    margin-bottom: 8px !important;
    position: relative !important;
    z-index: 0 !important;
    display: block !important;
    width: 100% !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(235, 235, 235) !important;
    border-radius: 2px !important;
}

.form-input {
    position: relative !important;
    overflow: hidden !important;
    display: block;
    box-sizing: border-box;
}

.close-x {
    margin-bottom: 12px !important;
    box-sizing: border-box;
    display: block;
}

.x-button {
    padding: 0px;
    margin: 0px;
    cursor: pointer !important;
    background-color: transparent !important;
    color: buttontext !important;
    display: block !important;
    border-width: 0px !important;
    border-style: initial !important;
    border-color: initial !important;
    border-image: initial !important;
    -webkit-appearance: button;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
}

.x-button svg {
    height: 16px;
    width: 16px;
    display: block;
    fill: rgb(118, 118, 118);
    overflow: hidden;
    cursor: pointer !important;
    box-sizing: border-box;
}

.review-form button {
    cursor: pointer;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-weight: 800 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    min-width: 77.6656px !important;
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
    margin: 0px !important;
    text-decoration: none !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    background: rgb(255, 90, 95) !important;
    border-color: transparent !important;
    box-sizing: border-box;
    display: block;
    width: 100%;

    &:hover {
        background: rgb(238, 56, 62) !important;
    }

    &:disabled {
        opacity: .4;
        background: rgb(255, 90, 95) !important;
    }
}


.button-text {
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: inherit !important;
    cursor: pointer !important;
    text-align: center;
    box-sizing: border-box;
}

.review-input {
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    font-weight: normal !important;
    background-color: transparent !important;
    width: 100% !important;
    border: none;
    padding: 11px !important;
    display: block;
    border-radius: 2px;
    box-sizing: border-box;
}

.line-container {
    margin-top: 16px;
    margin-bottom: 16px;
}

.line {
    border-bottom: 1px solid rgb(235, 235, 235) !important;
    display: block;
}